.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

body {
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}

.columns {
  display: flex;
  margin: 1em;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 600px) {
  .columns {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}

h1 {
  font-size: 3rem;
  color: #212614;
  text-align: center;
}

span {
  color: #b7832f;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-top: 0;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

@media (max-width: 600px) {
  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}

.col-right {
  background-color: #312614;
  padding: 0.5em;
  color: #fff;
}
